:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #70a6ec;
    --cor-de-fundo: #00030C;
    --fonte-principal: "Inter", sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center; /*Isso garantirá que os elementos dentro de um grid ou flex container sejam centralizados verticalmente.*/
    text-align: center; /*Isso centralizará todo o conteúdo, incluindo texto e imagens, dentro dos elementos de bloco horizontalmente.*/
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

.container__caixa {
    margin: 0 6rem;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 2rem 0 4rem 0;
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    display: block;
    margin-bottom: 1rem;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 0.75rem;

}

.secundario {
    align-items: center;
    margin: 0 16rem;
}

.secundario__imagem {
    width: 80%;    
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin-bottom: 0.1rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.container__descricao {
    padding: 2rem;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5% 0;
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5% 3%;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 2%;
}

.lista__link a{
    color: var(--branco-principal);
    font-size: 1rem;
    text-decoration: none;
    margin-left: 1rem;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: #AF1740;
}

.rodape__texto {
    color: var(--cinza-secundario);
    font-size: 0.875rem;
    margin: 1% 0;
}